<md-dialog aria-label="{{dialog.activeTabIndex}}">
  <md-content style="width:300px; padding:0;">
  
    <md-tabs md-selected="dialog.activeTabIndex">
      
      <md-tab label="Login">
        <div layout="row" layout-align="center center">
          
          <form ng-submit="dialog.login(loginCredentials, formLogin.$valid)" name="formLogin" class="md-padding" novalidate>
            
            <md-input-group class="md-default-theme">
              <label for="">Email</label>
              <md-input 
                type="email"
                name="username"
                ng-model="loginCredentials.username" 
                ng-change="" 
                ng-blur="" 
                ng-focus="dialog.serverError = null" 
                autocapitalize="off" 
                required></md-input>
              <div ng-messages="formLogin.username.$error" ng-show="formLogin.$submitted">
                <div ng-message="required">This field is required</div>
                <div ng-message="email">Use correct address</div>
              </div>
            </md-input-group>

            <md-input-group class="md-default-theme">
              <label for="">Password</label>
              <md-input 
                type="password"
                name="password"
                ng-model="loginCredentials.password" 
                ng-change="" 
                ng-blur="" 
                ng-focus="dialog.serverError = null" 
                minlength="3"
                autocapitalize="off" 
                required></md-input>
              <div ng-messages="formLogin.password.$error" ng-show="formLogin.$submitted">
                <div ng-message="required">This field is required</div>
                <div ng-message="minlength">Input too short</div>
              </div>
            </md-input-group>
            <!-- Server errors -->
            <p class="row" ng-show="dialog.serverError">
              <span ng-bind="dialog.serverError.text"></span> - 
              <span ng-bind="dialog.serverError.reason"></span>
            </p>
            <p class="row"><md-button class="md-primary">Login</md-button></p>
          </form>
          
        </div>
      </md-tab>

      <md-tab label="Register">
        <div layout="row" layout-align="center center">
          
          <form ng-submit="dialog.register(registerData, formRegister.$valid)" name="formRegister" class="md-padding" novalidate>

            <md-input-group class="md-default-theme">
              <label for="">Email</label>
              <md-input 
                type="email"
                name="username"
                ng-model="registerData.username" 
                ng-change="" 
                ng-blur="" 
                autocapitalize="off" 
                required></md-input>
              <div ng-messages="formRegister.username.$error" ng-show="formRegister.$submitted">
                <div ng-message="required">This field is required</div>
                <div ng-message="email">Use correct address</div>
              </div>
            </md-input-group>

            <md-input-group class="md-default-theme">
              <label for="">Password</label>
              <md-input 
                type="password"
                name="password"
                minlength="3"
                ng-model="registerData.password" 
                ng-change="" 
                ng-blur="" 
                autocapitalize="off" 
                required></md-input>
              <div ng-messages="formRegister.password.$error" ng-show="formRegister.$submitted">
                <div ng-message="required">This field is required</div>
                <div ng-message="minlength">Input too short</div>
              </div>
            </md-input-group>

            <md-input-group class="md-default-theme">
              <label for="">Retype Password</label>
              <md-input 
                type="password"
                name="repassword"
                minlength="3"
                ng-model="registerData.repassword" 
                ng-change="" 
                ng-blur="" 
                jm-input-match="registerData.password"
                autocapitalize="off" 
                required></md-input>
              <div ng-messages="formRegister.repassword.$error" ng-show="formRegister.$submitted">
                <div ng-message="required">This field is required</div>
                <div ng-message="unique">Passwords didn't match</div>
                <div ng-message="minlength">Input too short</div>
              </div>
            </md-input-group>
            
            <p class="row"><md-button class="md-primary">Register</md-button></p>
          </form>
          
        </div>
      </md-tab>

    </md-tabs>

  </md-content>
</md-dialog>


