<div ng-hide="vm.success">  
  <form name="formNewPassword" 
    class="md-padding" 
    ng-submit="vm.newPassword(resetCredentials, formNewPassword.$valid)" 
    novalidate>
    
    <md-input-container class="md-default-theme">
      <label for="">New Password</label>
      <input 
        type="password"
        name="password"
        ng-model="resetCredentials.password" 
        ng-change="" 
        ng-blur="" 
        ng-focus="vm.serverError = null" 
        minlength="3"
        autocapitalize="off" 
        required />
    </md-input-container>
    <div ng-messages="formNewPassword.password.$error" ng-show="formNewPassword.$submitted">
      <div ng-message="required">This field is required</div>
      <div ng-message="minlength">Input too short</div>
    </div>
    <!-- Server errors -->
    <p class="row" ng-show="vm.serverError" ng-bind="vm.serverError"></p>

    <p class="row">
      <md-button class="md-primary">Login</md-button>
    </p>
  </form>
</div>

<div ng-show="vm.success">
  Success, please login with new credentials.
</div>